<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- head公共模块 -->
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Java Sec">
    <meta name="author" content="nul1">

    <title>INCS 870 Cyber Not Secure</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/codemirror.css}">
    <link rel="stylesheet" th:href="@{/css/signin.css}">
    <link rel="stylesheet" th:href="@{/css/linearicons.css}">
    <link rel="stylesheet" th:href="@{/css/mdn-like.css}">
    <!--
                      ...
                    ;::::;
                  ;::::; :;
                ;:::::'   :;
               ;:::::;     ;.
              ,:::::'       ;           OOO\
              ::::::;       ;          OOOOO\
              ;:::::;       ;         OOOOOOOO
             ,;::::::;     ;'         / OOOOOOO
           ;:::::::::`. ,,,;.        /  / DOOOOOO
         .';:::::::::::::::::;,     /  /     DOOOO
        ,::::::;::::::;;;;::::;,   /  /        DOOO
       ;`::::::`'::::::;;;::::: ,#/  /          DOOO
       :`:::::::`;::::::;;::: ;::#  /            DOOO
       ::`:::::::`;:::::::: ;::::# /              DOO
       `:`:::::::`;:::::: ;::::::#/               DOO
        :::`:::::::`;; ;:::::::::##                OO
        ::::`:::::::`;::::::::;:::#                OO
        `:::::`::::::::::::;'`:;::#                O
         `:::::`::::::::;' /  / `:#
          ::::::`:::::;'  /  /   `#

    -->
</head>

<nav class="navbar navbar-dark sticky-top p-0" th:fragment="topbar">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/index}"><i class="lnr lnr-home"></i> INCS 870 Cyber Not Secure</a>

    <ul class="navbar-nav px-3">
        <li class="nav-item">
            <!-- todo -->
            <a class="btn btn-sm btn-default" style="color:white" target="_blank"
               href="https://nvlpubs.nist.gov/nistpubs/specialpublications/nist.sp.800-218.pdf">Secure Coding Best Practices</a>
            
            <a th:if="${session.LoginUser} == null" class="btn btn-sm btn-default" style="color:white"
               th:href="@{/login}"> Login</a>
            <a th:if="${session.LoginUser} != null" class="btn btn-sm btn-default" style="color:white"
               th:text="${session.LoginUser}"></a>
            <a th:if="${session.LoginUser} != null" class="btn btn-sm btn-default" style="color:white"
               th:href="@{/user/logout}">Logout</a>
        </li>
    </ul>
</nav>

<nav class="col-md-2 bg-dark sidebar" th:fragment="siderbar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column flex-sm-column">

            <li class="nav-item">
                <a href="#sql_submenu"
                   th:class="${((active=='sqli_jdbc.html') || (active=='sqli_mybatis.html')) ? 'nav-link active':'nav-link'}"
                   data-toggle="collapse">
                    <i class="lnr lnr-code"></i><span>SQL Injection</span><i
                        class="icon-submenu lnr lnr-chevron-left"></i></a>
                <div id="sql_submenu"
                     th:class="${((active=='sqli_jdbc.html') || (active=='sqli_jdbc_safe.html') || (active=='sqli_mybatis.html') || (active=='sqli_mybatis_safe.html')  || (active=='sqli_mybatis_blind.html') || (active=='sqli_mybatis_inband.html')) ? 'collapsed':'collapse'}">
                    <ul class="nav flex-column">
                        <li>
                            <a th:class="${active=='sqli_jdbc.html' ? 'nav-link active':'nav-link'}"
                               th:href="@{/index/sqli/jdbc}">
                                <i class="lnr lnr-bug"></i><span>JDBC</span></a>
                        </li>
                        <li>
                            <a th:class="${active=='sqli_jdbc_safe.html' ? 'nav-link active':'nav-link'}"
                               th:href="@{/index/sqli/jdbc_safe}">
                                <i class="lnr lnr-bug"></i><span>JDBC Without Vul</span></a>
                        </li>
                        <li>
                            <a th:class="${active=='sqli_mybatis.html' ? 'nav-link active':'nav-link'}"
                               th:href="@{/index/sqli/mybatis}">
                                <i class="lnr lnr-bug"></i><span>MyBatis</span></a>
                        </li>
                        <li>
                            <a th:class="${active=='sqli_mybatis_safe.html' ? 'nav-link active':'nav-link'}"
                               th:href="@{/index/sqli/mybatis_safe}">
                                <i class="lnr lnr-bug"></i><span>MyBatis Without Vul</span></a>
                        </li>
                        <li>
                            <a th:class="${active=='sqli_mybatis_blind.html' ? 'nav-link active':'nav-link'}"
                               th:href="@{/index/sqli/blind}">
                                <i class="lnr lnr-bug"></i><span>Blind Sql Injection</span></a>
                        </li>
                        <li>
                            <a th:class="${active=='sqli_mybatis_inband.html' ? 'nav-link active':'nav-link'}"
                               th:href="@{/index/sqli/inband}">
                                <i class="lnr lnr-bug"></i><span>Inband</span></a>
                        </li>
                    </ul>
                </div>
            </li>

           
            <li class="nav-item">
                <a href="#xss_submenu"
                   th:class="${((active=='xss_store.html') || (active=='xss_reflect.html')) ? 'nav-link active':'nav-link'}"
                   data-toggle="collapse">
                    <i class="lnr lnr-cross"></i><span>Cross-site scripting (XSS) </span><i
                        class="icon-submenu lnr lnr-chevron-left"></i></a>
                <div id="xss_submenu"
                     th:class="${((active=='xss_reflect.html') || (active=='xss_store.html')) ? 'collapsed':'collapse'}">
                    <ul class="nav flex-column">
                        <li>
                            <a th:class="${active=='xss_reflect.html' ? 'nav-link active':'nav-link'}"
                               th:href="@{/index/xss}">
                                <i class="lnr lnr-bug"></i><span>Reflected XSS</span></a>
                        </li>
                        <li>
                            <a th:class="${active=='xss_store.html' ? 'nav-link active':'nav-link'}"
                               th:href="@{/index/xss/store}">
                                <i class="lnr lnr-bug"></i><span>Stored XSS</span></a>
                        </li>
                    </ul>
                </div>
            </li>

          
          

           <!--        <li>
                      <a th:class="${active=='csrf.html' ? 'nav-link active':'nav-link'}"
                         th:href="@{/index/csrf}"><i
                              class="lnr lnr-bug"></i><span>CSRF</span></a>
                  </li>
 -->
                    </ul>
                </div>
            </li>

        </ul>
    </div>
</nav>


<div th:fragment="script">
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap-4.6.0.min.js}"></script>
    <script th:src="@{/js/codemirror.js}"></script>
    <script th:src="@{/js/groovy.js}"></script>
</div>

<div th:fragment="codemirror">
    <script>
        const editorConfig = {
            mode: "groovy",
            indentUnit: 4,
            indentWithTabs: true,
            lineNumbers: true,
            theme: "mdn-like"
        };

        function createEditor(id) {
            const editor = CodeMirror.fromTextArea(document.getElementById(id), editorConfig);
            $("#" + id).text(editor.getValue());
            editor.setSize('', '450px');
        }

        createEditor("code1");
        createEditor("code2");
        createEditor("code3");
        createEditor("code4");
        createEditor("code5");
        createEditor("code6");
        createEditor("code7");
    </script>
</div>

</html>