<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{commons/commons::head}"></div>

<body>
<!-- 顶部导航栏 -->
<div th:replace="~{commons/commons::topbar}"></div>

<div class="container-fluid">
    <div class="row">
        <!-- 侧边栏 -->
        <div th:replace="~{commons/commons::siderbar(active='sqli_jdbc.html')}"></div>

        <main role="main" class="col-md-10 ml-sm-auto pt-3 px-4">
            <div class="vul_header">
                <span>SQL Injection - JDBC</span>
            </div>
            <hr>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#aa"><span class="lnr lnr-bug"></span>
                        Vulnerability description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#bb"><span class="lnr lnr-bullhorn"></span> Secure Coding</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane dec shadow-sm p-3 mb-4 rounded active" id="aa">
                    SQLI(SQL Injection)，
                    In computing, SQL injection is a code injection technique used to attack data-driven applications, in which malicious SQL statements are inserted into an entry field for execution. 
                </div>
                <div class="tab-pane fade" id="bb">
                    <textarea disabled="disabled" class="form-control shadow-sm p-3 mb-5 rounded" id="coder"
                              style="height: 180px;">
[Required] SQL statements must default to using precompiled and bound variables. Web backend systems should default to creating SQL statements using precompiled bound variables to keep query logic separate from data, fundamentally avoiding the risk of SQL injection.

[Required] Shielding of Exception Stacks: When an application encounters an exception, it must not return useful information to attackers such as database versions, database structures, operating system versions, stack traces, file names and paths, SQL query strings, etc. It is recommended to redirect to a unified, default error page for information filtering.
                    </textarea>
                </div>
            </div>

            <hr>

            <div class="box-float">
                <h1>Test JDBC Sql Injection</h1>
				<form id="form-login" method="post" action="/SQLI/JDBC/vulJdbc">
				<table cellpadding="5" style = "font-size : 30px ">
				  <tr>
				    <td>User Name</td>
				    <td><input name="username" /><span style="color:red;" id="span-username"></span></td>
				  </tr>
				  <tr>
				    <td>Password</td>
				    <td><input name="password" /><span style="color:red;" id="span-password"></span></td>
				  </tr>
				  <tr>
				    <td colspan="2">
				      <input style = "height: 50px; width:100px" type="button" onclick="login()" value="login" />
				    </td>
				    
				    <td colspan="2">
				      <input type="hidden" onclick="jump()" value="jump" />
				    </td>
				    
				    <td colspan="2">
				      <input type="hidden" onclick="test()" value="test" />
				    </td>
				  </tr>
				 </table>
				 
				 <br/><br/>
				 
				 <div style = "font-size : 24px ">
				 
				  Instruction: <br/>
				 
				  
				 
				  1. The valid username is <b>jack</b> and the valid password is <b>1234</b> <br/>
				 
				  
				 
				  2. We can use <b>aaaa' or 1=1 union select 1,'2</b>  as the password to launch a sql injection attack
				 
				 
				 </div>
				 
				 <div>
				 <span style="color:red;" id="span-sql">
				
				 </span>
				 
				 </div>
				 
				 
				</form>
				<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js"></script>
				<script type="text/javascript">
				function login() {
					$("#span-username").empty();
					$("#span-password").empty();
					$("#span-sql").empty();
					
					$.ajax({
						"url":"/SQLI/JDBC//vulJdbc",
						"data":$("#form-login").serialize(),
						"type":"post",
						"dataType":"json",
						"success":function(json) {
							if (json.state == 1) {
								// window.location.href = "login_success";
								$("#span-username").html("Login successfully！");
							} else if (json.state == 2) {
								// alert("用户名不存在！");
								$("#span-username").html("Invalid username or password！");
							} else if (json.state == 3) {
								// alert("密码错误！");
								$("#span-password").html("Invalid username or password！");
							}
							$("#span-sql").html("The executed sql is : " + json.sql);
							
						}
					});
				}
				
				
				
				function jump() {
					
					document.getElementById("form-login").submit()
				}
				
				function test() {
					
					window.location.href = "login_success"
				}
				</script>

            </div>
        </main>
    </div>
</div>

<!-- 引入script -->
<div th:replace="~{commons/commons::script}"></div>


</body>

</html>