<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{commons/commons::head}"></div>

<body>

<script>
   function submitFun() {
    	var inputdata = $('#qinput').val();
        $.ajax({
            url: '/SQLI/MyBatis/vul/search',
            method: 'GET',
            dataType:"json",
            data: {
            	"q": inputdata
            },
            success: function (data) {
            	$('#sqlTableVul tbody').empty();
                $.each(data, function (index, item) {
                    $('#sqlTableVul tbody').append('<tr><td>' + item.id + '</td><td>' + item.user + '</td><td><span class="lnr lnr-trash"></span></button></td></tr>');
                });
            }
        });
    }
</script>

<!-- 顶部导航栏 -->
<div th:replace="~{commons/commons::topbar}"></div>

<div class="container-fluid">
    <div class="row">
        <!-- 侧边栏 -->
        <div th:replace="~{commons/commons::siderbar(active='sqli_mybatis.html')}"></div>

        <main role="main" class="col-md-10 ml-sm-auto pt-3 px-4">
            <div class="vul_header">
                <span>SQL Injection - MyBatis</span>
            </div>
            <hr>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#aa"><span class="lnr lnr-bug"></span>
                        Vulnerability description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#bb"><span class="lnr lnr-bullhorn"></span> Secure Coding</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane dec shadow-sm p-3 mb-4 rounded active" id="aa">                    
SQL injection (SQLI) occurs when a program fails to properly check user input and incorporates it into an SQL statement by concatenation, leading to SQL injection. Attackers can directly access database information and cause information leakage through SQL injection. While the underlying MyBatis framework has implemented defenses against SQL injection, there still remains a risk of SQL injection when it is improperly used.
                </div>
                <div class="tab-pane fade" id="bb">
                    <textarea disabled="disabled" class="form-control shadow-sm p-3 mb-5 rounded" id="coder">
The SQL statements must use pre-compilation and bind variables by default. When using MyBatis as the persistence layer framework, parameter binding should be done using the #{} syntax. 
MyBatis will create PreparedStatement parameter placeholders and safely set parameters through these placeholders.</textarea>
                </div>
            </div>
            <hr>

            <div class="box-float">
                <div class="float1">                   
                    <h5><span class="lnr lnr-bug"> Input user name and click search</span></h5>
                    <br/>
                    <div>Use the following script to attack : </div>
                    <div> test%' union select 1,@@version_compile_os # </div>
                    <div> test%' union select 1,user() # </div>
                    <br/>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="qinput"
                                   value="" style="color: #b5babb">
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-danger" id = 'searchButton' onclick= "submitFun()">search</button>
                            </div>
                        </div>   
                        
                         <div class="form-group">
                                    <table class="table table-striped table-bordered table-sm" id="sqlTableVul">
                                        <thead>
                                        <tr>
                                            <th>UserId</th>
                                            <th>UserName</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>                     
                    
                   </div>
                  
			</div>
            
        </main>
    </div>
</div>


<!-- 引入script -->
<div th:replace="~{commons/commons::script}"></div>


</body>

</html>