<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{commons/commons::head}"></div>

<body>
<!-- 顶部导航栏 -->
<div th:replace="~{commons/commons::topbar}"></div>

<div class="container-fluid">
    <div class="row">
        <!-- 侧边栏 -->
        <div th:replace="~{commons/commons::siderbar(active='sqli_jdbc.html')}"></div>

        <main role="main" class="col-md-10 ml-sm-auto pt-3 px-4">
            <div class="vul_header">
                <span>SQL Injection - JDBC</span>
            </div>
            <hr>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#aa"><span class="lnr lnr-bug"></span>
                        漏洞描述</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#bb"><span class="lnr lnr-bullhorn"></span> 安全编码</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane dec shadow-sm p-3 mb-4 rounded active" id="aa">
                    SQLI(SQL Injection)，
                    SQL注入是因为程序未能正确对用户的输入进行检查，将用户的输入以拼接的方式带入SQL语句，导致了SQL注入的产生。攻击者可通过SQL注入直接获取数据库信息，造成信息泄漏。<br>
                    JDBC有两个方法执行SQL语句，分别是PrepareStatement和Statement。
                </div>
                <div class="tab-pane fade" id="bb">
                    <textarea disabled="disabled" class="form-control shadow-sm p-3 mb-5 rounded" id="coder"
                              style="height: 180px;">
【必须】SQL语句默认使用预编译并绑定变量
 Web后台系统应默认使用预编译绑定变量的形式创建sql语句，保持查询语句和数据相分离。以从本质上避免SQL注入风险。

【必须】屏蔽异常栈
 应用程序出现异常时，禁止将数据库版本、数据库结构、操作系统版本、堆栈跟踪、文件名和路径信息、SQL 查询字符串等对攻击者有用的信息返回给客户端。建议重定向到一个统一、默认的错误提示页面，进行信息过滤。
                    </textarea>
                </div>
            </div>

            <hr>

            <div class="box-float">
                <h1>Test Sql Injection</h1>
				<form id="form-login" method="post" action="/SQLI/JDBC/vulJdbc">
				<table cellpadding="5" style = "font-size : 30px ">
				  <tr>
				    <td>User Name</td>
				    <td><input name="username" /><span style="color:red;" id="span-username"></span></td>
				  </tr>
				  <tr>
				    <td>Password</td>
				    <td><input name="password" /><span style="color:red;" id="span-password"></span></td>
				  </tr>
				  <tr>
				    <td colspan="2">
				      <input style = "height: 40px; width:100px" type="button" onclick="login()" value="login" />
				    </td>
				    
				    <td colspan="2">
				      <input type="hidden" onclick="jump()" value="jump" />
				    </td>
				    
				    <td colspan="2">
				      <input type="hidden" onclick="test()" value="test" />
				    </td>
				  </tr>
				 </table>
				 
				 <br/><br/>
				 
				 <div style = "font-size : 24px ">
				 
				  Instruction: <br/>
				 
				  
				 
				  1. The valid username is <b>jack</b> and the valid password is <b>1234</b> <br/>
				 
				  
				 
				  2. We can use <b>aaaa' or 1=1 union select 1,'2</b>  as the password to launch a sql injection attack
				 
				 
				 </div>
				 
				 <div>
				 <span style="color:red;" id="span-sql">
				
				 </span>
				 
				 </div>
				 
				 
				</form>
				<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js"></script>
				<script type="text/javascript">
				function login() {
					$("#span-username").empty();
					$("#span-password").empty();
					$("#span-sql").empty();
					
					$.ajax({
						"url":"/SQLI/JDBC//vulJdbc",
						"data":$("#form-login").serialize(),
						"type":"post",
						"dataType":"json",
						"success":function(json) {
							if (json.state == 1) {
								// window.location.href = "login_success";
								$("#span-username").html("Login successfully！");
							} else if (json.state == 2) {
								// alert("用户名不存在！");
								$("#span-username").html("Invalid username or password！");
							} else if (json.state == 3) {
								// alert("密码错误！");
								$("#span-password").html("Invalid username or password！");
							}
							$("#span-sql").html("The executed sql is : " + json.sql);
							
						}
					});
				}
				
				
				
				function jump() {
					
					document.getElementById("form-login").submit()
				}
				
				function test() {
					
					window.location.href = "login_success"
				}
				</script>

            </div>
        </main>
    </div>
</div>

<!-- 引入script -->
<div th:replace="~{commons/commons::script}"></div>


</body>

</html>