<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{commons/commons::head}"></div>

<body>
<!-- 顶部导航栏 -->
<div th:replace="~{commons/commons::topbar}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{commons/commons::siderbar(active='xss_reflect.html')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="vul_header">
                <span>Reflected XSS Attack</span>
            </div>
            <h3></h3>
            <hr>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#aa"><span class="lnr lnr-bug"></span>
                        Vulnerability description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#bb"><span class="lnr lnr-bullhorn"></span> Secure Coding</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane dec shadow-sm p-3 mb-4 rounded active" id="aa">
                    Reflected attacks are those where the injected script is reflected off the web server, such as in an error message, search result, or any other response that includes some or all of the input sent to the server as part of the request. Reflected attacks are delivered to victims via another route, such as in an e-mail message, or on some other website. When a user is tricked into clicking on a malicious link, submitting a specially crafted form, or even just browsing to a malicious site, the injected code travels to the vulnerable web site, which reflects the attack back to the user’s browser. The browser then executes the code because it came from a “trusted” server. Reflected XSS is also sometimes referred to as Non-Persistent or Type-I XSS (the attack is carried out through a single request / response cycle).
				</div>
                <div class="tab-pane fade" id="bb">
                    <textarea disabled="disabled" class="form-control shadow-sm p-3 mb-5 rounded" id="coder"
                              style="height: 260px;">
【Mandatory】Encode external inputs before concatenating them onto the response page.
When the response "content-type" is of "html" type, external inputs concatenated into the response package should undergo encoding based on their output position. It's necessary to perform HTML entity encoding for the following 6 special characters (&, <, >, ", ', /), and you can also refer to or directly use mature third-party libraries like ESAPI.

【Mandatory】Set the correct HTTP response package type.
The HTTP header "Content-Type" of the response package must be configured correctly according to the type of the response package. Non-HTML types of response packages should not be set as "text/html". Doing so will cause browsers to interpret non-HTML formatted response messages as HTML when accessing links directly, thereby increasing the likelihood of triggering reflected XSS.

【Recommendation】Set secure HTTP response headers.
The Cookie field controlling user login authentication should set the HttpOnly attribute to prevent XSS vulnerabilities/JavaScript manipulation leaks.
                    </textarea>
                </div>
            </div>
            <hr>

            <div class="box-float">
                <div class="float1">
                    <!-- <a style="float:right" class="btn btn-sm btn-danger" target="_blank"
                       th:href="@{/XSS/reflect?content=test%3Cscript%3E%0A%20%20%20%20window.onload=function()%20%7B%0A%20%20%20%20%20%20%20%20document.bgColor%20=%20%22black%22;%0A%20%20%20%20%20%20%20%20document.body.innerHTML=%22%3Cfont%20color=white%20size=40%3E%E4%BD%A0%E8%A2%ABXSS%E9%BB%91%E4%BA%86%EF%BC%81%3C/font%3E%22%0A%20%20%20%20%7D%0A%3C/script%3E}">
                       
                        <span class="align-middle"> Submit</span></a> -->
                    <h5><span class="lnr lnr-bug"> Test</span></h5>
                    
                    

                 <br><br>   
                 
                 <span style = 'font-size:20px'>Please input your name: </span>     
                 <input type = 'text' id = 'nameinput'/>        
                 <input type = 'button' value = 'submit' onclick = 'submitToBack()'/>
                 <br/><br/>
                 
                 <div style= ' font-size:20px'>Your input is : </div>
                 <div style= 'color:red; font-size:20px' id = 'myDiv'/></div>
                 
                </div>

              
            </div>
        </main>
    </div>
</div>


<script>
function submitToBack(){	
// window.location.href = "http://www.google.com" 
var data = document.getElementById('nameinput').value;
$('#myDiv').html(data);

}
</script>

<!-- 引入script -->
<div th:replace="~{commons/commons::script}"></div>


</body>

</html>